@media (max-width:767px) {
    .navbar .container {
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
    }

    .navbar .logo {
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1.75rem;
    }

    .dataForms{
        border-top-left-radius: 0px;
    }

    .dataForms .showSignUp{
        display: flex;
    }

    .dataForms .overlay{
        display: none;
    }

    .home .tasks .task{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }

    .home .tasks .task .taskNumber{
        width: 100%;
        filter: drop-shadow(0px 5px 15px  var(--DarkColor1));
    }
    
    .home .tasks .task .taskNumber .shape{
        clip-path: none;
        justify-content: center;
    }

    .home .tasks .task .taskNumber .num{
        border: none;
        padding: 10px;
        margin-left: 0px;
        border-radius: 0rem;
    }

    .home .tasks .task .taskContent{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .home .tasks .task .taskContent .text{
        align-items: center;
        text-align: center;
    }
    
    .home .tasks .task .taskContent .btns{
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    
    .home .tasks .task .taskContent .btns button{
        height: 100%;
        width: 50%;
    }

    .home .tasks .task .taskContent .btns button:nth-child(1){
        justify-content: flex-end;
    }
    .home .tasks .task .taskContent .btns button:nth-child(2){
        justify-content: flex-start;
    }

    .moonDiv .moon{
        width: 240px;
        height: 240px;
        left: calc(50% - 120px);
    }

    .sunDiv.parent-sun{
        left: calc(50% - 120px) !important;
    }

    .sunDiv,
    .sun,
    .sun span,
    .sun:after,
    .sun .rotate{
        width: 15rem !important;
    }
}