@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Pacifico&display=swap');

:root {
    --LightColor1: #c0e2f0;
    --LightColor2: #87ceeb;
    --LightColor3: #3685a5;
    --TransparentLightColor3: rgba(54, 133, 165, 0.5);
    --DarkColor1: #0F2027;
    --TransparentDarkColor1: rgba(15, 32, 39, 0.9);
    --DarkColor2: #203A43;
    --DarkColor3: #2C5364;
    --OffWhite: #e4e4e4;
    --DarkOffWhite: #c4c4c4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.6s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

#stars {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0;
}

body {
    background: linear-gradient(to bottom,
            var(--LightColor3),
            var(--LightColor2),
            var(--LightColor1),
            var(--DarkColor1),
            var(--DarkColor2),
            var(--DarkColor3));
    background-size: 300% 300%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 1s ease-in-out;
}
