body:has(#Mode:checked) {
    background: linear-gradient(60deg, var(--DarkColor1), var(--DarkColor2), var(--DarkColor3));
}

body:has(#Mode:checked) .navbar .container::before,
body:has(#Mode:checked) .dataForms::before{
    background-color: rgba(134, 134, 134, 0.2);
}

body:has(#Mode:checked) .navbar .logo span,
body:has(#Mode:checked) .hero-title,
body:has(#Mode:checked) .dataForms h1,
body:has(#Mode:checked) .dataForms p,
body:has(#Mode:checked) .dataForms a,
body:has(#Mode:checked) .dataForms form div:has(.form-switch) label
{
    color: var(--OffWhite);
}

body:has(#Mode:checked) .mode-icon::before {
    content: "\F495";
    background-color: var(--DarkColor1);
    color: var(--OffWhite);
    text-shadow: 0px 0px 10px var(--OffWhite);
}

body:has(#Mode:checked) .loginBtn::before{
    background-color: var(--DarkColor1);
    color: var(--OffWhite);
    text-shadow: 0px 0px 10px var(--OffWhite);
}


body:has(#Mode:checked) .hero-subtitle {
    color: var(--DarkOffWhite);
}

body:has(#Mode:checked) .getStartedBtn {
    background: linear-gradient(45deg, var(--DarkColor1), var(--DarkColor2), var(--DarkColor3));
    color: var(--OffWhite);
}

/* Data Forms */

body:has(#Mode:checked) .dataForms .social-links a{
    border: 1px solid var(--OffWhite);
}
body:has(#Mode:checked) .dataForms .social-links a:hover{
    background-color: var(--OffWhite);
    color: var(--DarkColor1);
    transform: scale(1.2);
}

body:has(#Mode:checked) .dataForms .form-control {
    color: var(--OffWhite);
    border-bottom: 1px solid var(--OffWhite);
}

body:has(#Mode:checked) .dataForms .form-control::placeholder {
    color: var(--DarkOffWhite);
}

body:has(#Mode:checked) .dataForms form div:has(.form-switch) input[type="checkbox"]{
    background-color: var(--DarkColor2);
    border-color: var(--DarkColor2);
}

body:has(#Mode:checked) .dataForms form div:has(.form-switch) input[type="checkbox"]:checked{
    background-color: var(--LightColor2);
    border-color: var(--LightColor2);
}

body:has(#Mode:checked) .dataForms .submitBtn {
    background-color: var(--DarkColor1);
    color: var(--OffWhite);
}

body:has(#Mode:checked) .dataForms .submitBtn[value="SignIN"]{
    background: linear-gradient(60deg, var(--DarkColor1),var(--DarkColor2));
}

body:has(#Mode:checked) .dataForms .submitBtn[value="SignUP"]{
    background: linear-gradient(60deg, var(--DarkColor2), var(--DarkColor3));
}

body:has(#Mode:checked) .dataForms .overlay{
    background: linear-gradient(60deg, var(--DarkColor1), var(--DarkColor2), var(--DarkColor3));
    background-size: 200%;
    background-position: right;
}